# IUX X-tended desktop file
# lines starting with a # are ignored

title=加油亚奈子
description=
icon=/usr/local/home/.esoteric/cache/images/同人游戏加油亚奈子/icon.png
exec=/usr/bin/opkrun
params=-m default.gcw0.desktop "/media/data/apps/同人游戏加油亚奈子.opk"
selectorDir=
selectorFilter=
selectorAlias=
manual=
workdir=
X-Provider=/media/data/apps/同人游戏加油亚奈子.opk
X-ProviderMetadata=default.gcw0.desktop
consoleapp=false
