# 350teric X-tended desktop file
# lines starting with a # are ignored

title=终极飞机
description=
icon=/usr/local/home/.esoteric/cache/images/终极飞机/opentyrian.png
exec=/usr/bin/opkrun
params=-m default.gcw0.desktop "/media/data/apps/终极飞机.opk"
selectorDir=
selectorFilter=
selectorAlias=
manual=
workdir=
X-Provider=/media/data/apps/终极飞机.opk
X-ProviderMetadata=default.gcw0.desktop
consoleapp=false
