# 350teric X-tended desktop file
# lines starting with a # are ignored

title=Spout
description=
icon=/usr/local/home/.esoteric/cache/images/喷射游戏/spout.png
exec=/usr/bin/opkrun
params=-m default.gcw0.desktop "/media/data/apps/喷射游戏.opk"
selectorDir=
selectorFilter=
selectorAlias=
manual=/usr/local/home/.esoteric/cache/manuals/喷射游戏/readme.txt
workdir=
X-Provider=/media/data/apps/喷射游戏.opk
X-ProviderMetadata=default.gcw0.desktop
consoleapp=false
