# 350teric X-tended desktop file
# lines starting with a # are ignored

title=坠落时间
description=
icon=/usr/local/home/.esoteric/cache/images/坠落时间/icon.png
exec=/usr/bin/opkrun
params=-m default.gcw0.desktop "/media/data/apps/坠落时间.opk"
selectorDir=
selectorFilter=
selectorAlias=
manual=
workdir=
X-Provider=/media/data/apps/坠落时间.opk
X-ProviderMetadata=default.gcw0.desktop
consoleapp=false
