# 350teric X-tended desktop file
# lines starting with a # are ignored

title=麻将消除
description=
icon=/usr/local/home/.esoteric/cache/images/麻将消除/shisen.png
exec=/usr/bin/opkrun
params=-m default.gcw0.desktop "/media/data/apps/麻将消除.opk"
selectorDir=
selectorFilter=
selectorAlias=
manual=/usr/local/home/.esoteric/cache/manuals/麻将消除/gcw0.man.txt
workdir=
X-Provider=/media/data/apps/麻将消除.opk
X-ProviderMetadata=default.gcw0.desktop
consoleapp=false
