# 350teric X-tended desktop file
# lines starting with a # are ignored

title=Puzzletube
description=
icon=/usr/local/home/.esoteric/cache/images/立体消消乐/puzzletube.png
exec=/usr/bin/opkrun
params=-m default.gcw0.desktop "/media/data/apps/立体消消乐.opk"
selectorDir=
selectorFilter=
selectorAlias=
manual=/usr/local/home/.esoteric/cache/manuals/立体消消乐/README
workdir=
X-Provider=/media/data/apps/立体消消乐.opk
X-ProviderMetadata=default.gcw0.desktop
consoleapp=false
