# 350teric X-tended desktop file
# lines starting with a # are ignored

title=Biniax2
description=
icon=/usr/local/home/.esoteric/cache/images/方块消融2/Biniax2.png
exec=/usr/bin/opkrun
params=-m default.gcw0.desktop "/media/data/apps/方块消融2.opk"
selectorDir=
selectorFilter=
selectorAlias=
manual=
workdir=
X-Provider=/media/data/apps/方块消融2.opk
X-ProviderMetadata=default.gcw0.desktop
consoleapp=false
