# 350teric X-tended desktop file
# lines starting with a # are ignored

title=洞窟物语
description=
icon=/usr/local/home/.esoteric/cache/images/洞窟物语/nx.png
exec=/usr/bin/opkrun
params=-m default.gcw0.desktop "/media/data/apps/洞窟物语.opk"
selectorDir=
selectorFilter=
selectorAlias=
manual=
workdir=
X-Provider=/media/data/apps/洞窟物语.opk
X-ProviderMetadata=default.gcw0.desktop
consoleapp=false
