# 350teric X-tended desktop file
# lines starting with a # are ignored

title=打砖块
description=
icon=/usr/local/home/.esoteric/cache/images/打砖块/tecnoballz.png
exec=/usr/bin/opkrun
params=-m default.gcw0.desktop "/media/data/apps/打砖块.opk"
selectorDir=
selectorFilter=
selectorAlias=
manual=
workdir=
X-Provider=/media/data/apps/打砖块.opk
X-ProviderMetadata=default.gcw0.desktop
consoleapp=false
