# 350teric X-tended desktop file
# lines starting with a # are ignored

title=蚂蚁闯关
description=
icon=/usr/local/home/.esoteric/cache/images/蚂蚁闯关/sqrxz.png
exec=/usr/bin/opkrun
params=-m default.gcw0.desktop "/media/data/apps/蚂蚁闯关.opk"
selectorDir=
selectorFilter=
selectorAlias=
manual=/usr/local/home/.esoteric/cache/manuals/蚂蚁闯关/readme.txt
workdir=
X-Provider=/media/data/apps/蚂蚁闯关.opk
X-ProviderMetadata=default.gcw0.desktop
consoleapp=false
