# 350teric X-tended desktop file
# lines starting with a # are ignored

title=拖动消除
description=
icon=/usr/local/home/.esoteric/cache/images/拖动消除/tailtale.png
exec=/usr/bin/opkrun
params=-m default.gcw0.desktop "/media/data/apps/拖动消除.opk"
selectorDir=
selectorFilter=
selectorAlias=
manual=
workdir=
X-Provider=/media/data/apps/拖动消除.opk
X-ProviderMetadata=default.gcw0.desktop
consoleapp=false
