# 350teric X-tended desktop file
# lines starting with a # are ignored

title=功夫小子
description=
icon=/usr/local/home/.esoteric/cache/images/功夫小子/icon.png
exec=/usr/bin/opkrun
params=-m default.gcw0.desktop "/media/data/apps/功夫小子.opk"
selectorDir=
selectorFilter=
selectorAlias=
manual=
workdir=
X-Provider=/media/data/apps/功夫小子.opk
X-ProviderMetadata=default.gcw0.desktop
consoleapp=false
