# 350teric X-tended desktop file
# lines starting with a # are ignored

title=瓷砖世界
description=
icon=/usr/local/home/.esoteric/cache/images/瓷砖世界/tworld.png
exec=/usr/bin/opkrun
params=-m default.gcw0.desktop "/media/data/apps/瓷砖世界.opk"
selectorDir=
selectorFilter=
selectorAlias=
manual=/usr/local/home/.esoteric/cache/manuals/瓷砖世界/readme_GCW_port.txt
workdir=
X-Provider=/media/data/apps/瓷砖世界.opk
X-ProviderMetadata=default.gcw0.desktop
consoleapp=false
