# IUX X-tended desktop file
# lines starting with a # are ignored

title=丁克小森林
description=
icon=/usr/local/home/.esoteric/cache/images/丁克小森林/Dink Smallwood.png
exec=/usr/bin/opkrun
params=-m default.gcw0.desktop "/media/data/apps/丁克小森林.opk"
selectorDir=
selectorFilter=
selectorAlias=
manual=
workdir=
X-Provider=/media/data/apps/丁克小森林.opk
X-ProviderMetadata=default.gcw0.desktop
consoleapp=false
