# 350teric X-tended desktop file
# lines starting with a # are ignored

title=旋转飞机2
description=
icon=/usr/local/home/.esoteric/cache/images/旋转飞机2/stransball2.png
exec=/usr/bin/opkrun
params=-m default.gcw0.desktop "/media/data/apps/旋转飞机2.opk"
selectorDir=
selectorFilter=
selectorAlias=
manual=/usr/local/home/.esoteric/cache/manuals/旋转飞机2/readme.man.txt
workdir=
X-Provider=/media/data/apps/旋转飞机2.opk
X-ProviderMetadata=default.gcw0.desktop
consoleapp=false
