# 350teric X-tended desktop file
# lines starting with a # are ignored

title=国际象棋
description=
icon=/usr/local/home/.esoteric/cache/images/国际象棋/icon.png
exec=/usr/bin/opkrun
params=-m default.gcw0.desktop "/media/data/apps/国际象棋.opk"
selectorDir=
selectorFilter=
selectorAlias=
manual=
workdir=
X-Provider=/media/data/apps/国际象棋.opk
X-ProviderMetadata=default.gcw0.desktop
consoleapp=false
