# IUX X-tended desktop file
# lines starting with a # are ignored

title=glutexto
description=A very simple editor
icon=/usr/local/home/.esoteric/cache/images/文本编辑器-test/glutexto.png
exec=/usr/bin/opkrun
params=-m default.gcw0.desktop "/media/data/apps/文本编辑器-test.opk"
selectorDir=
selectorFilter=
selectorAlias=
manual=/usr/local/home/.esoteric/cache/manuals/文本编辑器-test/README.md
workdir=
X-Provider=/media/data/apps/文本编辑器-test.opk
X-ProviderMetadata=default.gcw0.desktop
consoleapp=false
