# 350teric X-tended desktop file
# lines starting with a # are ignored

title=Explorer
description=中文版双栏文件管理器
icon=/usr/local/home/.esoteric/cache/images/文件管理器commander-gkdmini/commander.png
exec=/usr/bin/opkrun
params=-m default.gcw0.desktop "/media/data/apps/文件管理器commander-gkdmini.opk"
selectorDir=
selectorFilter=
selectorAlias=
manual=/usr/local/home/.esoteric/cache/manuals/文件管理器commander-gkdmini/readme.gcw0.txt
workdir=
X-Provider=/media/data/apps/文件管理器commander-gkdmini.opk
X-ProviderMetadata=default.gcw0.desktop
consoleapp=false
