# IUX X-tended desktop file
# lines starting with a # are ignored

title=MAME4ALL
description=Menu:Select+Start / Exit:L+R+START 
icon=/usr/local/home/.esoteric/cache/images/MAME4ALLv1.2/MAME.png
exec=/usr/bin/opkrun
params=-m default.gcw0.desktop "/media/data/apps/MAME4ALLv1.2.opk"
selectorDir=
selectorFilter=
selectorAlias=
manual=/usr/local/home/.esoteric/cache/manuals/MAME4ALLv1.2/readme.txt
workdir=
X-Provider=/media/data/apps/MAME4ALLv1.2.opk
X-ProviderMetadata=default.gcw0.desktop
consoleapp=false
