title=VBEmu
description=Virtual Boy emulator
icon=/usr/local/home/.esoteric/cache/images/vbemu-test/vb.png
exec=/usr/bin/opkrun
params=-m default.gcw0.desktop "/media/data/apps/vbemu-test.opk"
consoleapp=false
manual=/media/data/local/home/GKDmini-emulator manual/test simulator/VBE/manual-en.txt
selectorBrowser=true
X-Provider=/media/data/apps/vbemu-test.opk
X-ProviderMetadata=default.gcw0.desktop
selectordir=/media/roms/roms/virtualboy
