title=NGPC
description=Menu key:SELECT
icon=/usr/local/home/.esoteric/cache/images/NGPC-v10/ngpcemu.png
exec=/usr/bin/opkrun
params=-m default.gcw0.desktop "/media/data/apps/NGPC-v10.opk"
consoleapp=false
manual=/media/data/local/home/GKDmini-emulator manual/emulator/NGPC/manual-en.txt
selectorBrowser=true
X-Provider=/media/data/apps/NGPC-v10.opk
X-ProviderMetadata=default.gcw0.desktop
selectordir=/media/roms/roms/ngpc
