title=EasyRPG
description=EasyRPG Player
icon=/usr/local/home/.esoteric/cache/images/easyrpg-test/easyrpg.png
exec=/usr/bin/opkrun
params=-m default.gcw0.desktop "/media/data/apps/easyrpg-test.opk"
consoleapp=false
selectorBrowser=true
selectorFilter=exe,EXE
X-Provider=/media/data/apps/easyrpg-test.opk
X-ProviderMetadata=default.gcw0.desktop
selectordir=/media/roms/roms/easyrpg
