title=.FBA44
description=Version FBA44,supporting the cheat code
icon=/usr/local/home/.esoteric/cache/images/FBA-44/fba_44.png
exec=/usr/bin/opkrun
params=-m default.gcw0.desktop "/media/data/apps/FBA-44.opk"
consoleapp=false
manual=/media/data/local/home/GKDmini-emulator manual/emulator/FBA-44/manual-en.txt
selectorBrowser=true
X-Provider=/media/data/apps/FBA-44.opk
X-ProviderMetadata=default.gcw0.desktop
