title=.FBN
description=Support CPS3, revision and cheat code
icon=/usr/local/home/.esoteric/cache/images/fbn/fba_icon.png
exec=/usr/bin/opkrun
params=-m default.gcw0.desktop "/media/data/apps/fbn.opk"
consoleapp=false
manual=/media/data/local/home/GKDmini-emulator manual/emulator/FBN/manual-en.txt
selectorBrowser=true
X-Provider=/media/data/apps/fbn.opk
X-ProviderMetadata=default.gcw0.desktop
