title=GB/GBC
icon=/usr/local/home/.esoteric/cache/images/GBGBC模拟器ohboy-no/ohboy.png
exec=/usr/bin/opkrun
params=-m default.gcw0.desktop "/media/data/apps/GBGBC模拟器ohboy-no.opk"
consoleapp=false
manual=/usr/share/n/cache/手册/gbc/手册.txt
selectorBrowser=true
selectorFilter=zip,gb,gbc
X-Provider=/media/data/apps/GBGBC模拟器ohboy-no.opk
X-ProviderMetadata=default.gcw0.desktop
selectordir=/media/sdcard/Roms/GBGBC
