title=FBA-35
description=FBA 0.2.97.35
icon=/usr/local/home/.esoteric/cache/images/FBA-0-2-97-35-2021-0309/fba_35.png
exec=/usr/bin/opkrun
params=-m fba_ux.gcw0.desktop "/media/data/apps/FBA-0-2-97-35-2021-0309.opk"
consoleapp=false
manual=/media/data/local/home/.esoteric/cache/手册/fba35/手册.txt
selectorBrowser=true
X-Provider=/media/data/apps/FBA-0-2-97-35-2021-0309.opk
X-ProviderMetadata=fba_ux.gcw0.desktop
