title=电子书
description=一款看电子书软件
icon=/usr/local/home/.esoteric/cache/images/电子书-test/Bard32.png
exec=/usr/bin/opkrun
params=-m default.gcw0.desktop "/media/data/apps/电子书-test.opk"
consoleapp=false
manual=/media/data/local/home/.esoteric/cache/手册/电子书/手册.txt
selectorBrowser=true
X-Provider=/media/data/apps/电子书-test.opk
X-ProviderMetadata=default.gcw0.desktop
