title=街机CPS3
description=菜单键：L+R+START(路径选择)
icon=/usr/local/home/.esoteric/cache/images/cps3-test/fba_cps3.png
exec=/usr/bin/opkrun
params=-m fba_explorer.gcw0.desktop "/media/data/apps/cps3-test.opk"
consoleapp=false
manual=/usr/share/n/cache/手册/街机cps3路径/手册.txt
selectorBrowser=true
selectorFilter=zip
X-Provider=/media/data/apps/cps3-test.opk
X-ProviderMetadata=fba_explorer.gcw0.desktop
clock=Level 3
selectordir=/media/sdcard/Roms/FBA/cps3
